* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.nav-bar {
  height: 8%;
  border: 1px dashed black;
  background-color: aquamarine;

  display: grid;
  grid-template: 100% / 20% 60% 20%;
  grid-template-areas: "hamburger-menu logo search";
}

.hamburger-menu {
  
}